@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:200,400,500);
* {
  border: 0;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: inherit;
  display: flex;
  flex-direction: column;
  font-family: "Fira Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #79838c;
}

a {
  color: #7b8122;
  text-decoration: none;
}
a:hover {
  color: #2e74bb;
}

div.container {
  display: flex;
  flex: auto;
  flex-direction: column;
  max-height: 100%;
}

div.header {
  height: auto;
  /* text-align: center; */
  align-items: center;
  background: rgb(7, 48, 88);
  color: ghostwhite;
  /* padding: 1rem 1rem 1rem 5rem; */
  padding: 1rem 1rem 1rem 1rem;
  position: relative;
  display: flex;
  margin: auto;
}

@media (max-width: 62em) {
  div.header:after { /* for timeline scrolling washout effect */
    content: "";
    position: absolute;
    bottom: -5rem;
    left: 0rem;
    height: 5.1rem;
    display: block;
    width: 100%;
    z-index: 300;
    background: -moz-linear-gradient(top, white 20%, rgba(255, 255, 255, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, white 20%, rgba(255, 255, 255, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, white 20%, rgba(255, 255, 255, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ffffff", endColorstr="#00ffffff",GradientType=0 );
    /* IE6-9 */
  }
}
div.header h1 {
  margin-top: 1.1rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5em;
  font-weight: 400;
  font-size: 4em;
  /* letter-spacing: 0.1rem; */
  font-variant: small-caps;
  /* text-transform: uppercase; */
}
@media (min-width: 62em) {
  div.header h1 {
    font-size: 1.9em;
    /* letter-spacing: 0.2rem; */
  }
}
div.header h2 {
  font-size: 1.1em;
  font-weight: 200;
  color: #cfd7de;
  max-width: 30rem;
  margin: auto;
}

@media (max-width: 62em) {
  div.header h2 {
    font-size: 2em;
    max-width: 40rem;
  }
}

div.profile-info {
  margin-left: 20px;
  /* margin-left: auto; */
  margin-right: auto;
}

div.cv_item {
  display: flex;
  flex: auto;
  /* overflow-y: auto; */
  padding: 0rem 1rem 0rem 1rem;
}

@media (max-width: 62em) {
  div.cv_item {
    overflow-y: auto;
  }
}

#cv_sections {
  position: relative;
  display: table;
  height: 100%;
  /* margin-left: 5rem; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
#cv_sections div:after { /* for timeline line */
  content: "";
  width: 2px;
  position: absolute;
  top: -1rem;
  bottom: 5rem;
  left: 145px;
  z-index: 1;
  background: #c5c5c5;
}

@media (max-width: 62em) {
  #cv_sections {
    margin-top: 5rem;
  }
  #cv_sections div:after {
    bottom: 2rem;
  }
}

#cv_sections h3 {
  position: -webkit-sticky;
  position: sticky;
  top: 5rem;
  color: rgb(39, 33, 33);
  /* margin: 0; */
  margin-left: -4em;
  font-size: 1.7em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.01rem;
  padding-left: 0rem;
}
@media (min-width: 62em) {
  #cv_sections h3 {
    font-size: 1.1em;
    margin-left: 0;
  }
}
#cv_sections section.cv_section_title {
  position: relative;
}

#cv_sections section.cv_section_title section {
  position: relative;
  padding-bottom: 1.25em;
  margin-bottom: 2.2em;
}
#cv_sections section.cv_section_title section h4 {
  position: absolute;
  bottom: 0;
  font-size: 1.6em;
  font-weight: 400;
  line-height: 0.1em;
  margin: 0;
  padding: 0 0 0 170px;
  color: #c593b0;
}
@media (min-width: 62em) {
  #cv_sections section.cv_section_title section h4 {
    font-size: 1.1em;
    line-height: 0.5em;
  }
}
#cv_sections section.cv_section_title section ul {
  list-style-type: none;
  padding: 0 0 0 150px;
  margin: -1.35rem 0 1em;
  max-width: 32rem;
  font-size: 1em;
}
#cv_sections section.cv_section_title section ul li:first-of-type {
  font-size: 1em;
  font-weight: 600;
}
#cv_sections section.cv_section_title section ul li {
  margin-left: 1.3rem;
  font-size: 0.9em;
}

@media (max-width: 62em) {
  #cv_sections h3 {
    font-weight: 500;
  }

  #cv_sections section.cv_section_title section ul {
    font-size: 1.1em;
    padding: 0 0 0 150px;
  }

  #cv_sections section.cv_section_title section ul li {
    font-size: 1.5em;
  }

  #cv_sections section.cv_section_title section ul li:first-of-type {
    font-size: 1.6em;
    font-weight: 600;
  }
}
#cv_sections section.cv_section_title section ul:last-child {
  margin-bottom: 0;
}
#cv_sections section.cv_section_title section ul:first-of-type:after { /* for timeline dots */
  content: "";
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border: 2px solid #ffffff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  left: 140px;
  top: 3px;
  z-index: 2;
}

#cv_sections section.cv_section_title section ul li:not(:first-child) {
  margin-top: 0.5rem;
}

.profile-links {
  display: flex;
  margin-top: 10px;
  flex-flow: wrap;
}

.link-icon {
  margin-right: 10px;
  font-size: 0.75em;
  color: rgb(241, 165, 241);
}

.link-icon:hover {
  color: rgb(255, 248, 153);
}

.link-icon2 {
  margin-right: 10px;
  font-size: 0.75em;
  color: rgb(165, 241, 188);
  
}

.link-icon2:hover {
  color: rgb(255, 248, 153);
}

@media (max-width: 62em) {
  .profile-links {
    margin-left: 1.1em;
  }
  .link-icon {
    font-size: 1.5em;
    /* padding: 0em 2.1em 0em 2.1em; */
    line-height: 1.5em;
  }
  .link-icon2 {
    font-size: 1.5em;
    /* padding: 0em 2.1em 0em 2.1em; */
    line-height: 1.5em;
  }
}

.footer {
  background: rgb(7, 48, 88);
  height: 10px;
  padding: 2rem 2rem 2rem 2rem;
  text-align: center;
  position: relative;
  bottom: 0;
  /* width: 99%; */
  /* display: flex; */
}

.profile-picture {
  width: 175px;
}

@media (max-width:62em) {
.profile-picture {
  margin-left: 1.1em;
  margin-bottom: 5em;
  width: 15em;
}
}